body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.map {
  height: 100%;
}

.card-style {
  position: absolute;
  z-index: 9999;
  top: 15px;
  right: 15px;
}
